<ion-header>
  <ion-navbar *ngIf="loginService.getLoggedIn()">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hello Ionic</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h3>Login Page</h3>

    <button ion-button color="primary" menuToggle>Toggle Menu</button>

  <p>
    <ion-item *ngIf="!loginService.getLoggedIn()">
      <ion-input type="text" [value]="username" [(ngModel)]="username" placeholder="User name"></ion-input>

      <ion-input type="password" [value]="password" [(ngModel)]="password" placeholder="Password"></ion-input>    
    </ion-item>



    <button ion-button *ngIf="!loginService.getLoggedIn()" color="primary" (click)="checkLogin()">Login</button>

    
    <button ion-button *ngIf="loginService.getLoggedIn()" color="primary" (click)="signOff()">Sign Off</button>

  </p>

</ion-content>
